.finals {
    padding: 1em;
    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 0.25em 0.5em;
    }
    ol{
        padding-left: 1em;
    }
}
.schedule{
    padding: 1em;
    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 0.25em 0.5em;
    }
    ol{
        padding-left: 1em;
    }
}