 /* The Modal (background) */

 .modal {
     display: none;
     /* Hidden by default */
     position: fixed;
     /* Stay in place */
     z-index: 1;
     /* Sit on top */
     left: 0;
     top: 0;
     width: 100%;
     /* Full width */
     height: 100%;
     /* Full height */
     overflow: auto;
     /* Enable scroll if needed */
     background-color: rgb(0, 0, 0);
     /* Fallback color */
     background-color: rgba(0, 0, 0, 0.4);
     /* Black w/ opacity */
 }

 /* Modal Header */

 .modal-header {
     padding: 2px 16px;
     background-color: #a4141e;
     color: white;
     display: block;
 }

 /* Modal Body */

 .modal-body {
     padding: 2px 16px;
     display: block;
 }

 /* Modal Content */

 .modal-content {
     position: relative;
     top: 5%;
     display: block;
     background-color: #fefefe;
     margin: auto;
     padding: 0;
     border: 1px solid #888;
     width: 80%;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     animation-name: animatetop;
     animation-duration: 0.4s
 }

 /* The Close Button */

 .close {
     color: #aaa;
     float: right;
     font-size: 28px;
     font-weight: bold;
 }

 .close:hover,
 .close:focus {
     color: black;
     text-decoration: none;
     cursor: pointer;
 }

 /* Add Animation */

 @keyframes animatetop {
     from {
         top: -300px;
         opacity: 0
     }
     to {
         top: 5%;
         opacity: 1
     }
 }

 .iframe {
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: transparent;
     iframe {
         display: block;
         width: 100%;
         height: 100%;
         border: none;
         background-color: transparent;
         border: 0px none transparent;
         padding: 0px;
         overflow: hidden;
     }
 }

 .climate-page-button {
     position: absolute;
     left: 0;
     bottom: 0;
     width: 10rem;
     height: 5.5rem;
     text-align: center;
     line-height: 5rem;
     font-size: 1.5rem;
     font-weight: bold;
 }