// Top level variables for Picnic CSS
// Note: some others are available under each specific plugin

@use 'colors';


// Colors (from /themes/default/colors)
$picnic-white: #fff !default;
$picnic-black: #111 !default;
$picnic-primary: colors.$blue !default;
$picnic-success: colors.$green !default;
$picnic-warning: colors.$orange !default;
$picnic-error: colors.$red !default;
$picnic-dull: colors.$gray !default;
$picnic-color-variation: 10% !default;
$picnic-transparency: .2 !default;


// Spaces
$picnic-separation: .6em !default;
$picnic-breakpoint: 60em !default;


// Shapes
$picnic-radius: .2em !default;
$picnic-border: 1px solid #ccc !default;
$picnic-shadow: 0 0 .2em rgba($picnic-black, $picnic-transparency) !default;

// Transitions
$picnic-transition: all .3s;
