name: Node CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x]

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install automake
      run: apt-get install libtool automake autoconf nasm
    - name: npm install, and gulp build
      run: |
        npm install node-sass
        npm install -D
        npx gulp
      env:
        CI: true
